<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>

  <link rel="stylesheet" href="/styles.css">


</head>
<body>
  

  <main>
    
    <h1>Error Occured:</h1>
    <p>I'm sorry but an error has occured with the application. Please wait a few moments and try again.</p>
    <p>Status: <%= status %></p>
    <p>Message: <%= message %></p>

  </main>



</body>
</html>






  