<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  <main>
    
    <div class="sub-header">
      <h1>Pokemon</h1>
    </div>

    <div class="resultContainer">
      <% for (poke of array) { %>
        <ul>
          <li><%= poke.name %></li>
        </ul>
      <% } %>
    </div>

  </main>



</body>
</html>